{% extends 'project_app/base_template.html' %}

{% block content %}

<h1>{{ sheet.name }}</h1>
<p>Author: {{ sheet.author }}</p>
<p>Created on: {{ sheet.pub_date }}</p>
<p>Notes: {{ sheet.notes }}</p>


<h3>Items in this Sheet</h3>
{% if items %}
<div class="row">
    {% for item in items %}
        <div class="col-md-4">
            <div class="card mb-4">
                <h5 class="card-title; mx-auto">{{ item.name }}</h5>
                <!-- Hardcoded image size since all barcodes will be same size (not responsive) -->
                <img src="{{ item.barcode.url }}" class="mx-auto" alt="{{ item.name }}" width="111px" height="46px" >
                <div class="card-body">
                    <p class="card-text">Code: {{ item.code }}</p>
                    <p class="card-text">{{ item.quant_bag }}/Bag</p>
                    <p class="card-text">{{ item.quant_box }}/Box</p>
                    <p class="card-text">Notes: {{ item.about }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% else %}
<p><strong>There are no items in the sheet!</strong></p>
{% endif %}

<a href="{% url 'store-detail' store.id %}" class="btn btn-primary" role="button">Go Back</a>
<a href="{% url 'add_items_to_sheet' sheet_id=sheet.id store_id=store.id %}" class="btn btn-primary" role="button">Add/Remove Items</a>
{% endblock %}