{% extends 'project_app/base_template.html' %}

{% block content %}
<!-- CSS Styles -->
<style>
  /* Defining a mouseover effect so the user can see the card they are interacting with easier*/
  .hover-card:hover {
    background-color: #f5f5f5;
  }
</style>

  <h1>{{ store.name }}</h1>

  <img src="{{ store.store_img.url }}" class="img-responsive" style="width: 30%; padding:10px; margin-bottom: 20px"/>
  <p><strong>About:</strong> {{ store.about }}</p>

  <h3>Sheets:</h3>
  <a class="btn btn-primary" href="{% url 'create_sheet' store.id %}" role="button" style="margin-bottom: 10px">Create New Sheet</a>
  
  {% if sheets %}
    {% for sheet in sheets %}
    <div class="card hover-card">
        <div class="card-body">
            <h5 class="card-title">{{ sheet.name }} - {{ sheet.pub_date }}</h5>
            <a href="{% url 'sheet-detail' sheet_id=sheet.id store_id=store.id %}" class="btn btn-primary">View</a>
            <a href="{% url 'update-sheet' store_id=store.id sheet_id=sheet.id %}" class="btn btn-primary">Update Sheet Info</a>
            <a href="{% url 'delete-sheet' store_id=store.id sheet_id=sheet.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% endfor %}
  {% else %}
  <p>There are no sheets for {{store.name}} </p>
  {% endif %}
{% endblock %}