<!-- inherit from base.html -->
{% extends 'project_app/base_template.html' %}

<!-- Replace block content in base_template.html -->
{% block content %}

<div class="container-fluid">
<form action="" method="POST" enctype="multipart/form-data">
 <h3>Updating {{ store.name }}:</h3>

{% csrf_token %}
<table>
    {{ form.as_table }}
    </table>
    <a href="{% url 'index' %}" class="btn btn-primary">Cancel</a>
    <input type="submit" class="btn btn-primary" name="Submit">
</form>
</div>
{% endblock %}